[2017-02-02 00:09] nla19 opened #1 "Issue #1"
Fiddling with the publishing an "issue" to the Release BackLog. Hopefully this is correct.

-Nick

[2017-02-02 00:10] ejd30 opened #2 "Epic #1"
We don't know each other's strengths yet.

[2017-02-02 00:12] zsm8 opened #3 "Closed"

[2017-02-14 00:08] stt19 opened #4 "As a developer, I would like to set up a database for our application."
The database should be where the user's information is stored.

[2017-02-14 00:09] sylchristian opened #5 "As developers we need a source of recipe information."
We will need access to an API if possible in order to provide our users with accurate information regarding recipes.

[2017-02-14 00:10] forrest87 opened #6 "As developers, we would like to have the right implementation tools and an understanding of the existing code so that we can properly approach further design of the project with a clear understanding of how it currently stands."
Let's install and learn how to use Android Studio and familiarize ourselves with the open-source code we'll be modifying.

[2017-02-14 00:11] stt19 commented on #5
We can possibly have this as a future feature. It might be more achievable in the short term to just allow users to submit their own recipes, instead of trying to figure out how to supply many default recipes.

[2017-02-14 00:13] #1 closed, assigned to nobody

[2017-02-14 00:16] forrest87 opened #7 "Download and Install Android Studio and Understand How to Use it. - Forrest"
All team members need to familiarize themselves with the basic usage of Android Studio.

[2017-02-14 00:18] stt19 opened #8 "As a user, I would like to be able to log in to see my personal list/information"
A user should be able to save their information and keep that information private (require username and password).

[2017-02-14 00:19] forrest87 opened #9 "Familiarize Ourselves with Existing Code - Forrest"
Spend an hour or so getting to understand how the existing program works based on its source code.

[2017-02-15 19:19] forrest87 opened #10 "Research and Locate Base Recipes To Be Entered Into Database. - Forrest"
Locate and collect very basic and common recipes on the web that can be used as recipes for the application.

[2017-02-15 19:24] forrest87 opened #11 "Outdated Issue"
The collection of initial recipes will be passed on to the database developers to input recipes into the database.

[2017-02-15 19:39] forrest87 opened #12 "Design and Implement Log-In/Log-Out Process - Nick"
Create the log-in that authenticates the user.
We will use the login/logout code offered by Android Studio as a baseline for development. I'll will be responsible for designing the user interface. This will include a slight layout modification and otherwise design aesthetic additions.

Unit Test Cases:

1.
    Username: valid
    Password: valid
    Result: Log in
2.
    Username: valid
    Passwo

[2017-02-15 23:38] forrest87 opened #13 "Download and Install Android Studio and Understand How to Use it. - Sherman"
Sherman will familiarize himself with Android Studio and run a simple Hello World program on the emulator.

[2017-02-15 23:40] forrest87 opened #14 "Download and Install Android Studio and Understand How to Use it. - Christian"
Christian will familiarize himself with Android Studio and run a simple Hello World program.

[2017-02-15 23:43] forrest87 opened #15 "Download and Install Android Studio and Understand How to Use it. - Ed"
Ed will familiarize himself with Android Studio and run a simple Hello World program on the emulator.

[2017-02-15 23:45] forrest87 opened #16 "Download and Install Android Studio and Understand How to Use it. - Nick"
Nick will familiarize himself with Android Studio and run a simple Hello World program on an emulator.

[2017-02-15 23:47] forrest87 opened #17 "Download and Install Android Studio and Understand How to Use it. - Zach"
Zach will familiarize himself with Android Studio and run a simple Hello World app on the emulator.

[2017-02-15 23:49] forrest87 opened #18 "Develop code for application to utilize database"
Spend an hour or so getting to understand how the existing program works based on its source code.

[2017-02-15 23:52] forrest87 opened #19 "Familiarize Ourselves with Existing Source Code - Nick"
Spend an hour or so getting to understand how the existing program works based on its source code.

[2017-02-15 23:53] forrest87 opened #20 "Familiarize Ourselves with Existing Source Code - Sherman"
Spend an hour or so getting to understand how the existing program works based on its source code.

[2017-02-15 23:54] forrest87 opened #21 "Familiarize Ourselves with Existing Source Code - Christian"
Spend an hour or so getting to understand how the existing program works based on its source code.

[2017-02-15 23:56] forrest87 opened #22 "Familiarize Ourselves with Existing Source Code - Zach"
Spend an hour or so getting to understand how the existing program works based on its source code.

[2017-02-15 23:59] stt19 opened #23 "As a developer, I would like to plan how our database tables will be set up. - Sherman"
Ideally, the tables would be setup in a way that makes things efficient when the application interacts with it.

[2017-02-16 00:02] forrest87 opened #24 "Design and Implement Log-In/Log-Out Process with Emphasis on Libraries/Framework - Zach"
Create the user authentication mechanism for the app.

[2017-02-16 00:03] stt19 opened #25 "As a developer I would like to become familiar with PL/SQL - Sherman"
PL/SQL seems to be the way to interact with databases in Java, so I need to learn it.

[2017-02-16 00:04] ejd30 opened #26 "As a developer, i would like to create PL/SQL functions to update automatically."

[2017-02-16 00:06] forrest87 opened #27 "Research Base Recipes to enter into App. - Christian"
Locate and collect very basic and common recipes on the web that can be used as recipes for the application.

[2017-02-16 00:06] ejd30 opened #28 "As a developer, I would like to make sure the program can access the database."

[2017-02-16 00:08] forrest87 opened #29 "Enter Recipe1 into Database."
The collection of initial recipes will be passed on to the database developers to input recipes into the database.

[2017-02-16 00:09] ejd30 opened #30 "As a developer, I would like to research where will be the location for the database."
I will need to  look at what will give accessibility at all hours.  I will need to get access to the server if I don't already have access.

[2017-02-16 00:18] stt19 opened #31 "As a developer, I would like to make User tables for the database."
These tables would be based on the designs we come up with earlier.

[2017-02-16 00:26] nla19 opened #32 "Learn About Pycharm - Nick"
Familiarize myself with pycharm in case we decide to implement some features in python.

[2017-02-16 00:26] sylchristian opened #33 "Take time to become familiar with Java"
Learn Java syntax and development.

[2017-02-16 00:27] zsm8 opened #34 "Learn How to Import Activities into Android Application"
Examples of existing activities include login page activity, drop menus, gestures, etc.

[2017-02-16 00:28] forrest87 opened #35 "Get to Know Python and PyCharm"
Learn the basics of Python and how to use PyCharm.

[2017-02-16 07:31] nla19 opened #36 "Learn XML for designing an interface - Nick"

[2017-02-16 14:10] #2 closed, assigned to nobody

[2017-02-17 01:35] zsm8 opened #37 "Upload Basic Android Program to Cider Respository"
Included instructions to rest of group as to how to link their Android SDKs to the repository. I should be able to answer any questions as to how to link/set default branches since it took a bit of time for me to figure out.

[2017-02-17 02:43] forrest87 commented on #35
![screen shot 2017-02-16 at 8 35 06 pm](https://cloud.githubusercontent.com/assets/25300178/23050426/efcaca52-f487-11e6-9740-119dee387d28.png)

Been learning the basic syntax of Python on Code Academy so I can help Nick with Coding Reviews on Python-related parts of the project if necessary. I've uploaded a screenshot to show we're I currently am. Codeacademy's Python course is 14 hours long. It's

[2017-02-20 04:47] zsm8 commented on #24
Google+ sign in is a secure and supported means of identifying user for your Android applications.

https://developers.google.com/identity/sign-in/android/start

The above link is a guide from Google's developer site. This will be our resource for implementing sign in.

[2017-02-20 15:48] drlehr commented on #37
I don't see this in the repository.

[2017-02-20 15:55] stt19 commented on #23
Eddie and I collaborated on this after class on Wednesday. We wrote out some basic diagrams to plan for how we would set up the database once it got up and running. Eddie seemed to already have a good idea of how the layout would work, because he has taken the Databases course here already. I worked to make sure that I understood the relationships between tables that he proposed, along with how we

[2017-02-20 15:57] stt19 commented on #25
I spent time looking through resources on the internet to become acquainted with PL/SQL. Specifically, this site: https://docs.oracle.com/cd/A97630_01/appdev.920/a96624/01_oview.htm.
I am still far from an expert, but I think that I am familiar enough with the syntax to be able to work together with Eddie in PL/SQL, which he is already proficient in having taken the Databases course here already (

[2017-02-20 16:00] stt19 commented on #25
I should also mention that I am not entirely sure how to integrate PL/SQL with Android applications. This is something I would like to discuss with Eddie, in case he already knows how. If not, that may be something that would need to be a research task, and done soon so that we can scrap PL/SQL now instead of wasting time trying to utilize it only to find it is incompatible with Android.

[2017-02-20 17:15] sylchristian commented on #14
So far I have downloaded Android Studio, and have spent a few hours familiarizing myself with the interface, and how to manage projects. I have also learned how to connect the software with GitHub.

[2017-02-20 17:26] ejd30 commented on #15
I have learned by watching others use Android Studio. I still need to practice using Version Control to commit changes to github.

[2017-02-20 17:28] ejd30 commented on #30
I have spoken with Dr. Lehr about possible options for the location of the database. I will discuss with teammates the options but I am leaning towards AWS at the moment.

[2017-02-20 17:31] nla19 commented on #36
I've been learning how to use XML for designing an interface for our app. It's going well so far because I'm familiar with HTML which is a similar markup language. I'm going to discuss with teammates about the interface and get a rough idea of how it should look.

[2017-02-20 17:33] nla19 commented on #32
I've learned about pycharm and how useful it can be. However, I need to discuss with forrest and the other programmers whether we would like to use python or just java.

[2017-02-20 17:34] nla19 commented on #16
I've learned a lot about the IDE and have set up a virtual machine to emulate our application later in development.

[2017-02-20 18:05] forrest87 commented on #7
In the process of trying to set up an emulator. I'm having trouble with Android SDK on my Mac. I think either it, or Avira trying to do a quick scan on its own) set my computer into some nasty frozen loop. Will upload a picture of the emulator running Hello, World shortly!

[2017-02-21 01:22] zsm8 opened #38 "Move Android Source Code to Correct Location"
Move from CiderCS3398/KitchenHelper to CiderCS3398/CS3398-Cider-S2017.

[2017-02-21 01:23] zsm8 commented on #38
Successfully moved Android KitchenHelper source code to new repository location. Currently in develop branch though we should migrate it to Master since it's working, clean code.

[2017-02-21 01:24] zsm8 commented on #38
Meant to move to done instead of closed.

[2017-02-21 01:26] zsm8 commented on #38
Note that CiderCS3398/KitchenHelper repository was also removed so as to eliminate confusion. The only commits to that repository were by myself so no work was lost.

[2017-02-21 03:37] forrest87 commented on #7
![helloworldrelic](https://cloud.githubusercontent.com/assets/25300178/23149866/a576a7ac-f7b4-11e6-983e-700dc88bf44f.PNG)

Alright, I finally got it to work. Man, running those emulators take up a lot of attention from the computer!

[2017-02-22 21:30] drlehr commented on #23
Do you have the diagrams?

[2017-02-22 23:19] ejd30 commented on #30
https://docs.google.com/spreadsheets/d/1C8v4fsA0LfbvaA9t1c3NA97TaXQqt_obt0Y5hhXeBnc/edit?usp=sharing
Here is a link to the spreadsheet I made for Microsoft, AWS and Google cloud database servers.
Since we need more than 60 days for free, I have made the decision to go with AWS.

[2017-02-23 03:40] stt19 commented on #23
![data_pic](https://cloud.githubusercontent.com/assets/25232677/23243841/1fed031c-f947-11e6-9be1-5dbe9c376f47.jpeg)
![diagram2](https://cloud.githubusercontent.com/assets/25232677/23243904/847b8498-f947-11e6-8d6a-c4f4864cdcde.jpeg)
![diagram3](https://cloud.githubusercontent.com/assets/25232677/23243906/86b383b4-f947-11e6-8dcb-56730240333b.jpeg)

[2017-02-23 18:22] forrest87 commented on #9
Hey guys, I've found a couple of kitchen helper projects for android that we might use as a starting point. They are the following:
1)  https://github.com/picaro/cook-droid
2)  https://github.com/egelfand/TinyKitchenHelper

I'm a little more inclined toward TinyKitchenHelper, but y'all might have a look and see which one y'all think is best.

[2017-02-23 19:29] forrest87 commented on #9
I've been looking at the code, and something I've realized about Android applications is that there is not Java class containing a main method. Apparently, the Manifest.xml sort of acts as the driver in conjunction with the Java class that extends Activity. I've been going to over a few tutorials going over XML because I really am only a somewhat familiar with HTML, and I haven't worked with it in

[2017-02-24 23:45] sylchristian commented on #33
![screenshot from 2017-02-24 17-37-39](https://cloud.githubusercontent.com/assets/25256835/23325098/2f06370c-fab8-11e6-8f14-be73f41c5de8.png)
After spending a few hours with Android Studio, I have learned how to use XML to create a box into which the user can type a string. I created a button labeled Send that when clicked takes the string typed by the user and displays it on the screen back at th

[2017-02-25 01:31] stt19 commented on #20
I have been working to understand the code from https://github.com/egelfand/TinyKitchenHelper.
It has taken me longer than anticipated because I am very unfamiliar with how the flow is for Android applications, which made tracing difficult. Anyway, this is how I believe it generally works:

AndroidManifest.xml looks at all the Java files in the "com.example.tinykitchenhelper" directory. Based on t

[2017-02-25 01:33] stt19 commented on #20
All of that in mind, I think I would need to figure out how to get these files to work with Android Studio in order to see the flow better than just trying to trace the code. I can't quite figure out what the RecipeManager is doing, and think that by seeing the interface, it might become more clear. That will be my next task, as the database is not yet up so I cannot contribute to it yet.

[2017-02-25 16:27] stt19 commented on #11
Removing from Sprint 1 because I cannot work on it until Database is up (I believe Eddie is working on it). Additionally, I think we should worry about setting up Users/Food tables first before creating a table for Recipes. I have replaced this task with learning Android Studio so that my workload does not become unbalanced.

[2017-02-25 18:04] zsm8 opened #39 "Perform Prerequisite Steps for importing TinyKitchenHelper from Eclipse to Adnroid Studio"
- Noticed the source files included references to Eclipse.

"Before migrating your app from Eclipse to Android Studio, review the following steps to make sure your project is ready for conversion, and verify you have the tool configuration you need in Android Studio:

In Eclipse ADT:

Make sure the Eclipse ADT root directory contains the AndroidManifest.xml file. Also, the root directory must cont

[2017-02-25 19:08] zsm8 commented on #39
Update: Still having difficulties running TinyKitchenHelper even in Eclipse. I'm going to follow the prerequisite steps for importing from Eclipse to Android SDK.

[2017-02-25 19:35] zsm8 commented on #39
https://github.com/googlesamples/android-RecipeAssistant

After several hours of attempting to find solutions to run TinyKitchenHelper with no success, I searched for another Kitchen Helper-type application on Github, this time specifically searching for Gradle based builds, as opposed to Eclipse. TinyKitchenHelper has many references to Eclipse in the root of its source files. For example in the

[2017-02-25 21:12] zsm8 opened #40 "Edit Group Configuration on Github to prevent multiple notifications"
https://cs3398s17cider.slack.com/apps/A0F7YS2SX-github

[2017-02-26 18:18] nla19 commented on #36
![login](https://cloud.githubusercontent.com/assets/25285896/23342210/ecd2866e-fc1b-11e6-921f-9bb480728138.png)

Here I've made a rough draft of our log in screen. I was thinking that we could have a different picture as a background (related to food) every time a user opens the application. I will talk with you all and gather your thoughts on how this log in layout should change if needed.

This

[2017-02-27 01:56] forrest87 commented on #9
![xml_learning](https://cloud.githubusercontent.com/assets/25300178/23346157/41cd2b10-fc5d-11e6-9fde-34d681052014.PNG)

I've been doing some tutorials from Udacity on XML design for android in order to have a better understanding of how the XML elements of the code work. I'm not sure the beginner level stuff on the tutorials really get into a lot of how the AndroidManifest.XML file works, but havi

[2017-02-27 01:59] forrest87 commented on #9
![mainactivity](https://cloud.githubusercontent.com/assets/25300178/23346218/e909c618-fc5d-11e6-91a4-7d9f2eddd023.PNG)

This screenshot is from the AndroidManifest.XML file. I think that this little activity tag shows us where the main routine occurs. I think so at least.

[2017-02-27 02:02] forrest87 commented on #9
Also, that line "android:name="com.example.tinykitchenhelper.EntryPage" refers to the EntryPage java class, which extends the Activity class. You may notice on the AndroidManifest.xml file that a lot of <activity></> tags exist and that between each one a particular Java class is embedded a particular activity. The way an Android program is set up is starting to make more sense to me. Anyway, I th

[2017-02-27 16:26] ejd30 opened #41 "As a Developer I would like to create the tables for the Recipes to be held"

[2017-02-27 16:28] ejd30 commented on #41
The Database is in the process and I have uploaded the current file. It still needs a few more tables and some constraints.

[2017-02-27 16:30] ejd30 commented on #29
I moved this out of Sprint 1 since the Database itself is taking longer than Expected.

[2017-02-27 16:34] ejd30 commented on #26
I removed this from Sprint 1 since I had a few too many hours over 10 and wouldn't be able to get to this.

[2017-02-27 16:59] forrest87 commented on #10
I'm moving this to the Sprint Backlog for Sprint 1. I'm realizing that it may be an entirely unnessary task if we decide to just import existing recipes from some other table.

[2017-02-27 17:02] forrest87 opened #42 "Understand and Learn Basic XML"
I wasn't aware initially that Android development requires some working knowledge of XML. I'm a little familiar with HTML, but I need to learn some basic XML, so I will be learning from Udacity's video series on how to understand and write XML for Android. The series has backing from Google.

[2017-02-27 21:52] sylchristian commented on #21
I have taken some time to review the two programs that we have in the repo off of which we will base our programs. I think that the recipe assistant that was added more recently is a better program to use as a base, since the structure of the app is more clearly laid out in my opinion. As I study Android development more and more, it becomes clearer to see what is happening in these programs. I ca

[2017-02-27 21:56] sylchristian commented on #27
I have altered the time estimate for this task, since there is now a possibility that we will be using external sources for recipes to populate our database, and it will thus be less important to spend time compiling various recipes by hand.

[2017-03-01 05:10] zsm8 opened #43 "Research Android Development"
![image](https://cloud.githubusercontent.com/assets/25213199/23446600/93809aba-fe0a-11e6-9b4e-7c3ffc9e540b.png)

This is an ongoing process. Currently working through Udacity's android coursework. Since picking up on the course per suggestion of a fellow EXE club member I've seen a bunch of references to it around the internet and campus so it seems to be pretty popular. I've put about 3 hours int

[2017-03-01 05:15] zsm8 commented on #22
We'll be proceeding with our program based on android-RecipeAssistant. It is fairly basic but has the template essentially of Recipes and images and a sort of scroll feed interface that we can start from. The recipes themselves are based on .JSON (Javescript Object Notation) which is a fairly universal format: http://www.json.org/. There's even a python flavor called pyson. From here we'll need to

[2017-03-01 05:42] stt19 commented on #13
<img width="1280" alt="screen shot 2017-02-28 at 11 41 32 pm" src="https://cloud.githubusercontent.com/assets/25232677/23447282/7faaf8a0-fe0f-11e6-8b1e-ed69f2c56608.png">
<img width="1280" alt="screen shot 2017-02-28 at 11 34 32 pm" src="https://cloud.githubusercontent.com/assets/25232677/23447289/8c34dbc2-fe0f-11e6-88cf-9d436c4b77d4.png">
<img width="1280" alt="screen shot 2017-02-28 at 11 33 25

[2017-03-01 05:46] stt19 commented on #13
I completed Android Studio Essential Training, which really just went over the basics of development in the IDE, and some tips and shortcuts to use it more efficiently. I made a basic HelloWorld app, and messed around with font/color stuff to see how the different files communicate with each other and get a better feel for the .xml files (I still will probably need to do a crash course to be safe

[2017-03-01 05:48] stt19 commented on #31
Moving back to Release Backlog. Have notified the team and plan to work on this for Sprint 2.

[2017-03-01 17:43] forrest87 commented on #42
I've uploaded some XML code I was working on to the Research and Practice Folder in our code section.

[2017-03-01 20:39] sylchristian commented on #27
I will be moving this issue to the release backlog as there is not much point in researching recipes to put into a database that is not yet ready. Figuring out how and where recipes for the app will come from would be a good task for the second sprint.

[2017-03-01 20:43] sylchristian opened #44 "Get RecipeAssistant to compile and run in the Android Studio emulator."
I have been having some issues getting the RecipeAssistant to run in Android Studio and so spending an hour or two figuring out where the issues are will be vital if I want to contribute features to this software.

[2017-03-01 21:25] sylchristian commented on #44
![screenshot from 2017-03-01 15-17-01](https://cloud.githubusercontent.com/assets/25256835/23482008/2ae541b6-fe93-11e6-8dd9-2bf8b2897a74.png)

I have managed to get Recipe Assistant to compile and run on my machine. I made a couple mistakes importing the project into Android Studio. First, I need to use the IDE to access only the one project I want to run without it opening everything in the Cider

[2017-03-02 02:36] ejd30 commented on #28
I am removing this task from Sprint 1 since it requires more to be done before the app can access the database. I am replacing it with another task

[2017-03-02 02:37] ejd30 opened #45 "I would like to create the database instance on AWS"

[2017-03-02 02:38] ejd30 commented on #45
![database](https://cloud.githubusercontent.com/assets/25306491/23490573/f9399906-febe-11e6-9a57-16a87f92a371.JPG)

[2017-03-02 05:21] ejd30 commented on #41
I've reviewed the database. It is good for the time being. It may new a modification or two in future, if any bugs are experienced.

[2017-03-02 05:23] ejd30 commented on #15
![android studio](https://cloud.githubusercontent.com/assets/25306491/23494082/0de38210-fed6-11e6-862c-157a66a9aeed.JPG)
I've gotten the emulator running on my computer.

[2017-03-02 05:34] ejd30 commented on #18
Experience some trouble getting android studio to import most recent code. I will get some help from teammate soon.

[2017-03-06 21:15] stt19 commented on #19
Moved to Release Backlog. Not finished within Sprint 1.

[2017-03-20 23:01] ejd30 opened #46 "As a developer, I would like to create a query to display the recipe ingredients"

[2017-03-20 23:15] ejd30 opened #47 "As a developer, I would like to create an ER Diagram with Forrest."

[2017-03-22 02:07] zsm8 commented on #24
Log in/logout was moved to backlog from Sprint 1 to Sprint 2. The plan is still to utilize Google+ login since Google+ login should be very well supported.

This will lend itself to user profiles with sets of recipes. The plan is to have these available locally until our database is communicating with the app.

[2017-03-22 02:19] zsm8 opened #48 "Review How-To's and for Implementing Google+ Login"
I'm going to seek out guides on how to implement Google+ login. It should be well supported and there should be a wide range of resources to choose from. Will post artifacts with information gathered.

[2017-03-22 02:22] #24 closed, assigned to zsm8

[2017-03-22 02:23] zsm8 commented on #24
Duplicate entry. Going to consolidate issues into different issue.

[2017-03-22 02:29] zsm8 commented on #48
Changed estimate from 2 to 5 hours since I've ran into issues where working with something new usually generates hick-ups.

[2017-03-22 15:20] forrest87 opened #49 "As database administrators, we would like to design an Entity/Relationship Model for our Database"
A solid database is designed according to the principles of Normalization. Therefore, it is imperative that an E/R model be created in at least the 3rd Normal Form where there exist no partial and/or transitive dependencies and a primary key is defined for each table.

[2017-03-22 15:25] forrest87 opened #50 "E/R Model Collaberation"
Brainstorm with one of the team members who's creating the database in order to gather the necessary information to design an E/R model for the database.

[2017-03-22 15:29] forrest87 opened #51 "Create an E/R Model using Edraw"
After collaborating with database-creation team member, draft the Entity/Relationship Model Diagram using the Edraw tool.

[2017-03-22 15:38] forrest87 opened #52 "Understand the Java code in the new source program"
The source code we originally wanted to work with did not actually work for us, which we discovered midway through Sprint 1. A different open-source software packet was subsequently found on GitHub that would better suite our needs. This presented a new need, however--the need to understand the new code. Realizing that most of the XML code for the project won't necessarily need to change for this

[2017-03-22 15:43] forrest87 opened #53 "Create a UML class diagram of classes existing in the new source program"
Upon gaining an understanding of the Java code of the new source program, design and draft a class diagram of the system using StarUML.

[2017-03-22 18:17] forrest87 opened #54 "As developers, we would like to be able to test and implement a search feature within our application."
Attempt to accomplish this according to the Test-Driven Development model commonly used in the Agile Methodology.

[2017-03-22 18:19] forrest87 opened #55 "Create a unit test for a search feature in the kitchen helper application."
Figure out how to write a unit test in Android studio and create an appropriate test for the search feature.

[2017-03-22 18:22] forrest87 opened #56 "Resolve compilation error on search function code"
After creating the test (which will fail the first time per expectations of Test-Driven Development), implement the search function. A user should be able to enter a string, which represents an ingredient, and subsequently be given a list of recipes that use that ingredient.

[2017-03-22 18:54] forrest87 opened #57 "As developers, we would like to be able to test and implement an Add New Recipe feature to our kitchen helper application"
Attempt to accomplish this according to the Test-Driven Development model commonly used in the Agile Methodology.

[2017-03-22 18:57] forrest87 opened #58 "Create a unit test for the login feature"
Figure out how to write a unit test in Android studio and create an appropriate test for the Add New Recipe feature.

[2017-03-22 19:01] forrest87 opened #59 "Implement an "Add New Recipe" feature to the Kitchen Helper application"
After creating the test (which will fail the first time per expectations of Test-Driven Development), implement the Add New Recipe function. A user should be able to enter multiple strings and specify which string corresponds to which type of ingredient (for database synchronization).

[2017-03-22 19:20] forrest87 commented on #10
This issue is unnecessary to the development of our application. We will instead use recipes that already exist with the open-source source code.

[2017-03-22 19:20] #10 closed, assigned to forrest87

[2017-03-22 19:20] sylchristian commented on #27
I will be closing this issue, as it is no longer relevant to developing our app. We can easily insert a few recipes into either our database once it is constructed or we can add the recipes to the .json file in the project as we need them.

[2017-03-22 19:20] #27 closed, assigned to sylchristian

[2017-03-22 19:32] sylchristian opened #60 "Research Test Driven Development"
Since I will be following the Agile manifesto, an integral part of quality assurance is test driven development. Since this is a concept with which I am unfamiliar, a small amount of research is required before I will be able to implement it.

[2017-03-22 19:35] forrest87 opened #61 "As developers, we would like to be able to test and implement a "Remove Recipe" feature in our Kitchen Helper mobile app."
Attempt to accomplish this according to the Test-Driven Development model commonly used in the Agile Methodology.

[2017-03-22 19:38] sylchristian opened #62 "Successfully write a small app that handles a text string and push it to the remote repository."
In order to add any new features to the project, new activities must be created and integrated with the existing project. I will need to figure out how to accomplish this with a project that could be considered "complete" but open to extension.

[2017-03-22 19:38] forrest87 opened #63 "Learn about Test-Driven Development and how it is accomplished"
Learn the concept of test-driven development by reading the relevant chapter on it in the class textbook. Find sources online of how it is done in practice. Make a toy test.

[2017-03-22 19:50] sylchristian opened #64 "Ensure the activity for the search function is aesthetically similar to the rest of the app."
It will be jarring for our users to access various different features of the app only to find that each has its own unique look. Keeping a consistent design style will enhance the user experience.

[2017-03-22 20:25] stt19 opened #65 "Research how Android interacts with a database"
Find out if there are pre-existing libraries in Java that would make database connection/queries easier, and learn how to implement them into our project.

[2017-03-22 20:58] nla19 commented on #19
This was a lingering task from Sprint 1. I spent about 2 hours on this but didn't feel entirely confident   that I was familiar with the working code. I will only spend an hour on this task for this sprint because I've already done a majority of this task during Sprint 1.

[2017-03-22 21:04] nla19 opened #66 "Research Unit Tests and JSON File Format"
I'm assigned the task to for implementing a unit test for an "Enter Recipe" function. Before I can do this I must research how the JSON format works and how to implement a generic unit test in Android Studio.

[2017-03-22 21:18] nla19 opened #67 "Design Main Menu in Illustrator"
Download free 30-day trial and design the main menu design for the application. After a user logs in to the app, the main menu will be the first menu the user sees. From the main menu other child menus will be availble to the user. The following menus are listed below.

- Pantry (Inventory of users stored items)
- Recipes
- Grocery List
- Nearby Stores

[2017-03-22 21:47] stt19 opened #68 "Create a test app to practice Android/database interactions"
After researching this in a previous issue, I would like to create a working project in Android Studio to work with a database I make locally. This way I will be able to implement what I learn in our project.

[2017-03-22 21:50] stt19 opened #69 "Review Eddie's SQL tables"
Because I am still less experienced, I would like to devote some time to making sure I understand Eddie's code. By doing this, I will be able to make similar contributions so that everything is uniform (and correct).

[2017-03-22 23:56] nla19 opened #70 "Implement User Interface"
As describe in previously assigned task, I will implement the main menu in android studio. The menu items will include:

- Pantry
- Recipes
- Grocery List
- Nearby Stores

[2017-03-23 00:11] zsm8 opened #71 "I would like to implement a side slide-out menu to narrow recipe results"

[2017-03-23 00:31] zsm8 commented on #71
This feature may not necessarily have the busines

[2017-03-23 00:45] #66 closed, assigned to zsm8

[2017-03-26 22:58] zsm8 commented on #48
Starting point: https://developer.android.com/training/sign-in/index.html

[2017-03-26 23:18] zsm8 commented on #48
![image](https://cloud.githubusercontent.com/assets/25213199/24336223/9f57b77e-1250-11e7-9bf5-565e3857bf43.png)

[2017-03-26 23:25] zsm8 commented on #48
![image](https://cloud.githubusercontent.com/assets/25213199/24336267/9860f510-1251-11e7-976d-ab28a2de21d5.png)

How I found the SHA-1 certificate: http://stackoverflow.com/questions/27609442/how-to-get-the-sha-1-fingerprint-certificate-in-android-studio-for-debug-mode

[2017-03-26 23:26] zsm8 commented on #48
![image](https://cloud.githubusercontent.com/assets/25213199/24336276/c37be836-1251-11e7-97c7-11695d8a8063.png)

[2017-03-27 00:09] zsm8 commented on #48
On a side note, I added an unwanted login activity that was hanging up the program. It didn't work. Android Studio has a "safe delete" dialog that opens when you right click activity file and click delete:

![image](https://cloud.githubusercontent.com/assets/25213199/24336598/b83cd98e-1257-11e7-9b88-7a6b1888f56b.png)

[2017-03-27 16:29] stt19 opened #72 "As a developer, I would like to integrate our database with our Android application."
Once a functioning database has been created, the next step will be figuring out how to interact with it in our Android app.

[2017-03-27 17:00] stt19 commented on #31
Changed because ingredient tables are mostly done anyway (for a prototype). Instead, because others are working on a login page, I will focus on making a User table that interacts with the ingredient tables.

[2017-03-27 18:58] forrest87 commented on #50
Below are some notes I made regarding our project's existing tables. They were taken as preparation for creating an Entity/Relationship model for our database.

[KitchenHelper_Database_ER_Notes.txt](https://github.com/CiderCS3398/CS3398-Cider-S2017/files/873469/KitchenHelper_Database_ER_Notes.txt)

[2017-03-27 19:42] stt19 commented on #69
From my understanding, the way we are going about the database for our application is as follows:

- There is a "main" table for all foods: Food. This has the single attribute FoNo which acts as the primary key for ALL ingredients across all the "sub-foods".
- For each different category, there is an appropriate table (Meats, Veggies, Fruits, etc.). All of these tables reference the Food table - s

[2017-03-27 21:17] sylchristian commented on #60
I have done some research into this particular method of software development and have learned the following:

Test Driven Development is a way of writing software that emphasis writing short and simple 'unit tests' that intentionally go one step beyond what the program is currently capable of doing. Once the error has been demonstrated, the existing program is then modified in order to pass the t

[2017-03-27 21:20] ejd30 commented on #47
![forresterdiagram](https://cloud.githubusercontent.com/assets/25306491/24378616/31195826-1309-11e7-8732-fd9d60d26f1d.JPG)
I have attached the beginning of Forrest & I's conversation about the database. Forrest & I will continue to work together to create an ER diagram.

[2017-03-27 22:33] zsm8 commented on #48
Struggling to follow YouTube guides - found Google sample applications including a Sign-In function: https://github.com/googlesamples/google-services/tree/master/android/signin

[2017-03-29 03:13] forrest87 commented on #51
This is the E/R diagram for our database. I'll relationships between the Food table and the various ingredients are 1 to 1, and the relationship between FoNo in Food and FoNo in Recipes is 1 to many (0 being optional).

![er_diagram_kitchen_sprint2](https://cloud.githubusercontent.com/assets/25300178/24436861/74b1444a-1403-11e7-8a99-7ffbcc08c7a6.png)

[2017-03-29 15:09] stt19 commented on #31
I have created and pushed users.sql to our Database directory in our code. I will double check with Eddie to make sure the syntax and relationships are fine.

[2017-03-29 20:50] forrest87 commented on #52
Some Initial Observations on the Kitchen Helper's Java Code:

/////////////////////////////////////////////////////////////////////////
// Recipe, RecipeStep, and RecipeActivity Classes    //
////////////////////////////////////////////////////////////////////////

   The RecipeActivity class extends the Activity class and makes use of the Recipe class to collect the titles, summaries, associated

[2017-04-01 17:31] stt19 commented on #65
After looking through several different sources on the web, I have found that the most standard way to connect an Android app to a mysql database is through server scripts written in PHP.

I had really hoped there would be a built in API library in java that could take off some of the work of building all the query functions, but I could not find one.

I have been independently learning the backen

[2017-04-02 20:48] zsm8 commented on #48
![image](https://cloud.githubusercontent.com/assets/25213199/24590922/adccd0e4-17bb-11e7-9658-35cd858b96bc.png)

The whole "fail fast" thing is starting to become very familiar. Behold the next step in my quest.

[2017-04-02 20:55] zsm8 commented on #48
Glorious
![image](https://cloud.githubusercontent.com/assets/25213199/24590983/d4b55acc-17bc-11e7-8d5f-773759004916.png)

[2017-04-02 21:01] zsm8 commented on #48
Note that I pivoted towards a login process that differs from the Google guides. This one appears to be a local authentication/sample activity. My objective is to import it as a module to RecipeAssistant then modify it to make it visually consistent with the rest of the app as well as have it set up to authenticate remotely at a later point. As of now emphasis on working code. Resource: https://so

[2017-04-03 01:29] zsm8 commented on #48
Welp. For the process for importing another application as a module, I am able to do so successfully when it's into a HelloWorld test app, but if I try to do so for the RecipeAssistant I get pegged with the error plugin id: 'com.android.library' not found and every single link for the first page of Google with that search is purple for me as I've tried all different sorts of solutions with no succ

[2017-04-03 15:01] forrest87 commented on #52
========================================================================

//////////////////////////////////////
// RecipeListAdapter Class
//////////////////////////////////////

   The RecipeListAdapter class reads an entire json file and places each recipe into a class called Item. All the Items are parsed and placed in an ArrayList called mItems, which is a member variable to RecipleListAdapte

[2017-04-03 16:00] sylchristian commented on #62
So far I have been working on this task but have had limited success with getting working search bar and button added to the project. The complexity required by this seemingly simple task is beyond what I had originally anticipated, and it requires a better understanding of how Android Studio builds its projects. What I will do going forward is build a basic app that contains a bar that receives t

[2017-04-03 16:06] #55 closed, assigned to sylchristian

[2017-04-03 16:53] forrest87 commented on #53
Alright everyone, for your reference, here are the UML Class Diagrams for the Java Code of the project we are working on:

[KitchenHelperMainActivityUML.pdf](https://github.com/CiderCS3398/CS3398-Cider-S2017/files/890767/KitchenHelperMainActivityUML.pdf)

[KitchenHelperRecipeActivityUML.pdf](https://github.com/CiderCS3398/CS3398-Cider-S2017/files/890768/KitchenHelperRecipeActivityUML.pdf)

[Kitche

[2017-04-03 17:08] sylchristian commented on #62
I have pushed my small app to the repository. At the moment there is one small error that is still left before the app will build that I need to look into. I will be opening another issue to address this, if this is OK with the rest of the team.

[2017-04-03 19:46] stt19 commented on #65
*** I had moved this to completed right after this comment. It appears it did not update when I did so. ***

[2017-04-03 19:47] stt19 commented on #68
On my laptop, I had moved this into In Progress two days ago. I am seeing now that it did not update, but I have been working on this issue since then.

[2017-04-03 20:54] nla19 commented on #19
I couldn't have done this without Forrest's help. I have little experience with Java programming, so I may have shot myself in the foot this sprint by not assigning myself tasks to familiarize myself with java syntax and semantics. Although this was a task that I estimated would take 1 hour, that was not so. I spent many additional hours familiarizing myself with Java so that I could make sense of

[2017-04-03 20:57] nla19 commented on #67
I've installed a free trail of Adobe Illustrator on my machine. I'm going to begin and hopefully finish designing the UI for our app by the end of the day Wednesday.
![screen shot 2017-04-03 at 3 56 31 pm](https://cloud.githubusercontent.com/assets/25285896/24631501/2f4f50fe-1886-11e7-857c-6b0db12b442a.png)

[2017-04-04 03:27] zsm8 commented on #48
Pushed the Material Login Code to Reference Code. The application runs on its own just fine, but importing it into Recipe Assistant as a module doesn't work as I had thought.

Going to close this issue and focus on other aspects of development.

[2017-04-05 02:39] zsm8 commented on #71
![image](https://cloud.githubusercontent.com/assets/25213199/24687407/190c1698-197f-11e7-9acd-cdef50a6aa99.png)

This eliminated a bit of my own confusion.

[2017-04-05 03:02] zsm8 commented on #71
![image](https://cloud.githubusercontent.com/assets/25213199/24687959/6e6cdade-1982-11e7-8017-db12f3475858.png)

[2017-04-05 03:08] zsm8 commented on #71
![image](https://cloud.githubusercontent.com/assets/25213199/24688063/2afbe4b0-1983-11e7-9e6f-fd762db0d6a9.png)
Haha it crashed. :( That's okay I'm not done yet.

[2017-04-05 03:19] ejd30 commented on #29
![recipe1](https://cloud.githubusercontent.com/assets/25306491/24688300/b9e92402-1984-11e7-8c3a-34c042c893bb.JPG)

[2017-04-05 03:19] #29 closed, assigned to ejd30

[2017-04-05 03:24] zsm8 commented on #71
Fixed the crash with one caveat: I've created a monster...
![image](https://cloud.githubusercontent.com/assets/25213199/24688413/7062fbae-1985-11e7-9301-25574c9091e6.png)

[2017-04-05 04:03] zsm8 commented on #71
This was the goal but it isn't behaving the same way in the app:
![image](https://cloud.githubusercontent.com/assets/25213199/24689241/dd7ba056-198a-11e7-84f4-8685fdfa9e26.png)

[2017-04-05 04:19] ejd30 commented on #46
![recipe1query](https://cloud.githubusercontent.com/assets/25306491/24689592/2eb2bda4-198d-11e7-9b5f-a3099c9848c5.JPG)

[2017-04-05 04:31] zsm8 commented on #58
Moving this one to the Release Backlog since "Add New Recipe" hasn't been implemented as a feature.

[2017-04-05 13:28] forrest87 commented on #63
NOTES ON TEST-DRIVEN DEVELOPMENT

* All direct quotes are taking directly from Chapter 4 of _Agile Principles, Patterns, and Practices in C#_ by Robert C. Martin and Micah Martin.

======================================================================

What is Test-Driven Development?

   Test-driven development is a paradigm of program design by which developers and customers first identify the d

[2017-04-05 13:36] stt19 commented on #11
Removing from Sprint 2 milestone. I had previously spoken with the team about dropping this if I could not finish the current issue I am working on in time. Additionally, it looks like Ed has done this task himself, so I may remove this issue altogether come Sprint 3.

[2017-04-05 13:49] stt19 commented on #68
<img width="1280" alt="screen shot 2017-04-05 at 8 41 42 am" src="https://cloud.githubusercontent.com/assets/25232677/24708531/bba8fa30-19dc-11e7-8bdf-edbc32828a4b.png">
<img width="1280" alt="screen shot 2017-04-05 at 8 41 58 am" src="https://cloud.githubusercontent.com/assets/25232677/24708532/bbaa8ada-19dc-11e7-992c-281fb7324ec4.png">
<img width="1280" alt="screen shot 2017-04-05 at 8 48 06 am"

[2017-04-05 13:54] stt19 commented on #68
The first two screen captures are of me trying to run the code from a tutorial I was referencing: https://www.simplifiedcoding.net/android-mysql-tutorial-to-perform-basic-crud-operation/

I changed the database connection to work with a local copy I made of the database used in the tutorial, and updated the URLs for the PHP scripts to match. Even so, the app would not work correctly.

I thought ma

[2017-04-05 16:30] forrest87 commented on #63
I've written a unit test for the updateRecipe() functionality. It will fail to compile because I haven't written the updateRecipe function/activity yet; however, this test's failure to compile conforms to the initial steps of test-driven development. The test, called TestUpdateRecipe.java, has been uploaded in our Code space on the Develop branch in the Research_And_Practice directory.

[2017-04-05 16:56] nla19 commented on #70
I've removed this from sprint 2 because everything is taking me far longer than anticipated.

[2017-04-05 16:59] nla19 commented on #12
I won't be able to reach this goal by the end of sprint 2 so I'm moving it to the backlog.

[2017-04-05 19:56] nla19 commented on #19
I'm getting closer to the point where I'm understanding the existing code, but it is still a little hazy. This is my progress with code academy.

![screen shot 2017-04-05 at 2 54 00 pm](https://cloud.githubusercontent.com/assets/25285896/24724171/c39eebf4-1a0f-11e7-9302-b1271276c9c5.png)

[2017-04-07 01:46] stt19 commented on #68
I was still not able to complete this by the end of the sprint, but I think I found a decent, up-to-date video tutorial. I am taking this off the Sprint, but plan on completing this issue in the downtime between now and Sprint 3 since I was stuck on it for so long.

Here is the tutorial video(s) I am watching: https://www.youtube.com/watch?v=HK515-8-Q_w

[2017-04-07 02:34] nla19 commented on #19
I've completed the Java course (4 hour course) on codeacademy.com to help my understanding with the existing program. I overestimated myself thinking I could understand Java because I know C/C++ and Python pretty well. I originally estimated this task to take 1 hour, but after reconsideration, I spent 4 hours on the course and approximate 2 additional hours going over the code in Android Studio an

[2017-04-07 02:45] sylchristian commented on #56
After discussing with the team and opting to implement a standalone search function first and worrying about implementing test driven development at a later date, I have made a small app that compiles and runs on the Android emulator. This app contains an input text box and a button that responds to a tap from the user. After running into issues with the Java code trying to handle text input, I ha

[2017-04-07 03:13] nla19 commented on #67
I expect this to be the layout of the main menu of our application.

![screen shot 2017-04-06 at 9 59 54 pm](https://cloud.githubusercontent.com/assets/25285896/24784015/66cf1636-1b15-11e7-9fab-4138e50258cf.png)

[2017-04-07 03:15] nla19 commented on #67
Because I haven't quite gotten anywhere with this task I'm moving it to the backlog and going to work on it before the next sprint to get ahead. Hopefully I can get it done soon.

[2017-04-10 16:54] forrest87 commented on #6
Guys, I think we finished or removed all the tasks related this this epic, but it's still accounted as In Progress. I'm going to move it to the Release Backlog if y'all have no objections.

[2017-04-12 00:53] stt19 commented on #68
<img width="1280" alt="screen shot 2017-04-10 at 11 29 05 pm" src="https://cloud.githubusercontent.com/assets/25232677/24936662/b9acea20-1ef0-11e7-84c3-0877de039385.png">
<img width="1280" alt="screen shot 2017-04-10 at 11 28 59 pm" src="https://cloud.githubusercontent.com/assets/25232677/24936724/4f0ef342-1ef1-11e7-9557-3cb52a388601.png">

I finally was able to complete at least a basic app that

[2017-04-12 01:01] stt19 commented on #68
I'm not sure if I can just place this directly into the Done section or not, so for now I will leave it in the Release Backlog, but it is complete. I will ask Dr. Lehr how to handle work done outside of sprints tomorrow.

[2017-04-13 01:43] #63 closed, assigned to forrest87

[2017-04-13 01:44] #53 closed, assigned to forrest87

[2017-04-13 01:44] #49 closed, assigned to forrest87, ejd30

[2017-04-13 01:44] #51 closed, assigned to forrest87

[2017-04-13 01:45] #50 closed, assigned to forrest87

[2017-04-13 01:45] #9 closed, assigned to forrest87

[2017-04-13 01:45] #52 closed, assigned to forrest87

[2017-04-13 01:45] #42 closed, assigned to forrest87

[2017-04-13 01:46] #7 closed, assigned to forrest87

[2017-04-13 01:46] #35 closed, assigned to forrest87

[2017-04-13 13:18] #56 closed, assigned to sylchristian

[2017-04-13 13:18] #62 closed, assigned to sylchristian

[2017-04-13 13:18] #60 closed, assigned to sylchristian

[2017-04-13 13:18] #44 closed, assigned to sylchristian

[2017-04-13 13:19] #21 closed, assigned to sylchristian

[2017-04-13 13:19] #40 closed, assigned to zsm8, sylchristian

[2017-04-13 13:19] #14 closed, assigned to sylchristian

[2017-04-13 13:20] #33 closed, assigned to sylchristian

[2017-04-13 13:24] sylchristian opened #73 "Integrate Travis CI with our project"
So far we have been unsuccessful in our attempts at getting the continuous integration server working with our app. This should be resolved by the end of Sprint 3.

[2017-04-13 13:24] forrest87 opened #74 "As developers, we would like to refactor program code."
As budding Android developers, we would like to refactor the existing source code of the Kitchen Helper program in order to be able to modify the program to help us accomplish our tasks.

[2017-04-13 13:26] sylchristian opened #75 "Integrate my search function with the functions developed by the rest of the team."
This will likely be the most complex and daunting task for this sprint.

[2017-04-13 13:32] sylchristian opened #76 "Expand functionality of search so that it can read text and send it to another activity."

[2017-04-13 13:38] forrest87 opened #77 "Design and create a Recipe class."
Consideration for how the contents of the database will be adapted into the member fields of each Recipe object is necessary.

[2017-04-13 13:41] forrest87 opened #78 "Design and create a class that adapts recipes from the database to Recipe objects"
Since we will not be using a JSON file to store and retrieve recipes, we will need to figure out the process involved in adapting recipes from our own database into a Recipe object and make that very process a class.

[2017-04-13 13:42] sylchristian opened #79 "Get search to return a value based on the search criteria"
By this I mean try to get the search function to either return an ingredient or recipe if there is one, and let the user know if the search comes up with no results.

[2017-04-13 13:48] forrest87 opened #80 "Implement a routine that displays a list of all the recipe names on the screen."
Prerequisite: Recipe and RecipeAdapter classes have been designed and are functioning as expected.

[2017-04-13 17:55] forrest87 opened #81 "Refactor the MainActivity of the original source code"
Refactor the original MainActivity to suit our needs for this sprint.

[2017-04-13 18:23] #41 closed, assigned to ejd30

[2017-04-13 18:23] #47 closed, assigned to ejd30

[2017-04-13 18:23] #30 closed, assigned to ejd30

[2017-04-13 18:24] #23 closed, assigned to stt19, ejd30

[2017-04-13 18:24] #46 closed, assigned to ejd30

[2017-04-13 18:24] #45 closed, assigned to ejd30

[2017-04-13 18:25] ejd30 opened #82 "Develop code to allow a user to add a recipe to database."

[2017-04-13 18:27] ejd30 opened #83 "Create a query to display recipes that include certain ingredients."

[2017-04-13 18:40] stt19 opened #84 "Find a Server to Keep PHP Scripts"
The PHP scripts to interact with the database will need to be kept somewhere that can be accessed through the internet. I think I can just use my txstate linux account and access it through the website. If that fails, I will have to look into free hosting services.

[2017-04-13 18:49] stt19 opened #85 "Create Login Script"
I will create a script that takes in the username and password, compares it to what we have in the database, and returns appropriate responses (successful, not successful).

This will likely have to be updated later on as the front end for the login becomes more fleshed out, so this will just be based on the database.

[2017-04-13 18:52] stt19 opened #86 "Integrate Login Script with Front End Page"
This will require the login page to be somewhat done. I will create a handler class that runs the login script and receives a response. The handler will link up with the input text fields and "login" button.

[2017-04-13 19:06] stt19 opened #87 "As a Developer, I would like to integrate our Login with our database."
I would like to give functionality to our login page so that it is not limited to hard coded pass cases or dependent on a local database.

[2017-04-13 19:15] stt19 commented on #11
This was originally "Enter Recipes into Database - Sherman". It is now outdated as this issue has already been done, so I am closing it.

[2017-04-13 19:16] #5 closed, assigned to nobody

[2017-04-13 19:20] stt19 opened #88 "Create Search Script"
I will make a script that searches the database based on what Christian's function is doing. It will probably return JSON.

[2017-04-13 19:22] stt19 opened #89 "Integrate Search Script with Front End"
This will require making use of the *tentatively* returned JSON from the database, along with setting up the class to make the query.

[2017-04-13 19:23] stt19 opened #90 "As a developer, I would like to be able to have our search function connected with our database."
This would allow our app not to be reliant on hard coded samples or local databases.

[2017-04-14 01:43] forrest87 opened #91 "Refactor the MainActivity Class"
With other team members, work on redesigning and implementing the MainActivity class we will use for our program.

[2017-04-14 01:45] forrest87 opened #92 "Test and implement a remove recipe action"

[2017-04-14 15:44] nla19 commented on #67
7 day trial for adobe illustrator has ended so I can't complete this task. However, android studio has an update that makes UI design a breeze.

[2017-04-14 23:01] zsm8 commented on #91
Adding myself to this task. As per our last Sprint review, Recipe Assistant seems a bit of a bear to modify and was likely made without further addition in mind. That said it can certainly be used for reference for layout/visual guide.

I think the best start would be the main activity in the login code that I have posted under the reference code - material login is the name.

[2017-04-14 23:06] zsm8 commented on #87
Is there a resource/code/set of libraries you have available to communicate with the database in order to utilize the login? Besides the UI, I wouldn't be able to help with the actual hookup since I don't know where it is.

[2017-04-15 18:58] zsm8 commented on #58
Adding a .travis.yml file to the root of material login demo code to implement unit testing.

[2017-04-15 18:58] zsm8 commented on #58
Changing title of issue to be more general as far as unit testing goes.

[2017-04-17 01:18] zsm8 opened #93 "Tweak UI of Login"
Make it consistent with reference code.

[2017-04-17 04:23] stt19 commented on #84
<img width="1280" alt="screen shot 2017-04-16 at 10 11 53 pm" src="https://cloud.githubusercontent.com/assets/25232677/25078707/36937730-22fb-11e7-9565-ba18bca900ab.png">

This is the same example program I ran before.

What I changed here was the URL from a local link to one that can be accessed by anyone. The scripts we have will, tentatively, be kept on my school linux account so we can access

[2017-04-17 14:08] stt19 commented on #85
I added the .php file login.php to our repository in the Database directory. It will need to be tweaked a little once I see the variable names in the Android app that will be passed.
https://github.com/CiderCS3398/CS3398-Cider-S2017/blob/Develop/Database/login.php

[2017-04-17 19:22] nla19 opened #94 "Restructure Repository and Update README"
Improve organization and documentation.

[2017-04-17 19:32] sylchristian opened #95 "Help integrate Travis CI with the project"

[2017-04-17 19:42] #15 closed, assigned to ejd30

[2017-04-17 21:49] forrest87 commented on #78
I've refactored the MainActivity class to have buttons that launch other activities, such as addRecipeActivity, removeRecipeActivity, searchRecipesActivity, and listRecipesActivity. I'm adding this file to the research and practice directory of our development branch temporarily. Once we get a project bundle up on our dev branch, I'll move it there.

[2017-04-17 21:51] forrest87 commented on #91
I've refactored the MainActivity class to have buttons that launch other activities, such as addRecipeActivity, removeRecipeActivity, searchRecipesActivity, and listRecipesActivity. I'm adding this file to the research and practice directory of our development branch temporarily. Once we get a project bundle up on our dev branch, I'll move it there.

[2017-04-17 21:51] #11 closed, assigned to nobody

[2017-04-19 01:52] zsm8 commented on #91
Successfully added login activity to MainActivity class. Steps were:
* right click app
* java > com.example.recipeassistant > new > Activity > Login Activity

Next, moved the following intent-filter code from Main Activity to Login Activity in the Android Manifest xml file:
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.

[2017-04-19 19:37] sylchristian commented on #64
I will be closing this task since integrating Travis CI has taken far more of my time than anticipated at the start of the sprint.

[2017-04-19 19:37] #64 closed, assigned to sylchristian

[2017-04-19 21:29] ejd30 commented on #28
I have spoken Dr. Lehr about this. We got close to getting access to database.

[2017-04-19 22:21] zsm8 commented on #58
Latest Status of .travis.yml:
![image](https://cloud.githubusercontent.com/assets/25213199/25204739/8e3baf4a-2524-11e7-8775-70756af2dd69.png)

[2017-04-22 22:20] sylchristian commented on #73
Since Zack has succeeded in integrating Travis CI with our project, this issue can be considered done.

[2017-04-24 01:44] stt19 commented on #86
<img width="1280" alt="screen shot 2017-04-23 at 8 31 55 pm" src="https://cloud.githubusercontent.com/assets/25232677/25319577/2b3d39a6-2865-11e7-863e-2f4c19ab21b5.png">

Above is a database on my localhost. The test I'm running is working with its username and password values.

<img width="1280" alt="screen shot 2017-04-23 at 8 31 58 pm" src="https://cloud.githubusercontent.com/assets/25232677/25

[2017-04-24 01:52] stt19 commented on #86
I updated the login.php script to match the new code I made for that example. It can be found here:
https://github.com/CiderCS3398/CS3398-Cider-S2017/blob/Develop/Database/login.php

Currently, the app will not run in Android Studio for me or Christian, so I cannot integrate it yet. Additionally, I cannot test it with our actual database because I do not know the connection information. So for now

[2017-04-24 14:40] nla19 commented on #95
Well supposedly this issue has been resolved so I'll consider it done.

[2017-04-24 14:53] sylchristian commented on #75
Moving this task to the backlog since we have run into errors getting the main activity to compile.

[2017-04-24 14:56] sylchristian opened #96 "Invesitgate gradle build issues in the main activity."

[2017-04-24 17:16] forrest87 commented on #92
Moving this to the release backlog from Sprint 3. I over-allocated myself on hours, and I likely won't be able to get to this task.

[2017-04-24 22:25] stt19 commented on #89
Removing this from Sprint 3 because it is unlikely it will be completed in time.

[2017-04-25 03:19] nla19 commented on #77
Here is my attempt to refactor the recipe class. Because I can't get it to work on my local machine I pushed it to the research/practice folder for another teammate to help me tackle this issue.

[Recipe.java](https://github.com/CiderCS3398/CS3398-Cider-S2017/blob/Develop/Research_and_Practice/Recipe.java)

[2017-04-25 03:34] nla19 commented on #59
I'm overloaded with work and likely won't be able to finish this task. I've moved it to the release backlog.

[2017-04-25 19:14] stt19 commented on #86
I was able to complete this issue using a database hosted by the CS Department. I will merge my code after discussing with the team if they are alright with that right now. It is completed though, so I will complete this issue.

[2017-04-26 00:17] nla19 commented on #77
The recipe class is now refactored. It lives in the develop branch in our application, however at the moment is not utilized. I also had to refactor constants class which the recipe class uses. It builds and runs and passes Travis CI.
[Travis CI Build](https://travis-ci.org/CiderCS3398/CS3398-Cider-S2017/builds/225816421)
[Recipe.java](https://github.com/CiderCS3398/CS3398-Cider-S2017/blob/Develop

[2017-04-26 00:25] stt19 commented on #86
The changes to our app can be found in this commit, specifically the getData() method on line 355:
https://github.com/CiderCS3398/CS3398-Cider-S2017/commit/a7c9a475e633fca4d8dc6de8cd896609e523ac4d

[2017-04-26 02:27] sylchristian commented on #96
The issues have been resolved and everyone is able to build the app again.

[2017-04-26 02:29] sylchristian opened #97 "The UI for the app is bland and needs to be updated"
I'm going to do some polishing on the app by adding background images and altering the colours.

[2017-04-26 02:55] forrest87 commented on #78
Could not figure out how to make this class adapt SQL statements. At this point in the sprint, we do not think we will be able to get around adapting info from a database.

[2017-04-26 03:10] sylchristian commented on #97
This issue is redundant. I didn't see that one was already open for the same thing, so I'm going to close it.

[2017-04-26 03:10] #97 closed, assigned to sylchristian

[2017-04-26 03:29] ejd30 commented on #28
I have spent nearly this whole sprint attempting to get access to the database I created on AWS. I have even made a second database. I have tried using mysql instead of oracle. I have had no luck. I am officially giving up on this task.

[2017-04-26 03:30] ejd30 commented on #18
Couldn't gain access to database. This task is a failure.

[2017-04-26 03:32] ejd30 commented on #82
I have spent the entire time working on a task that couldn't be completed.

[2017-04-26 03:34] ejd30 commented on #83
I spent the entire time working on another task.

[2017-04-26 03:34] zsm8 opened #99 "Keyboard crunches background"
Added  android:isScrollContainer="false" to login activity xml
![image](https://cloud.githubusercontent.com/assets/25213199/25417107/4c7dc7ae-2a07-11e7-8c7f-4335c924f5eb.png)
![image](https://cloud.githubusercontent.com/assets/25213199/25417116/55aa028e-2a07-11e7-9fd3-0e0166d78fed.png)

.

[2017-04-26 15:19] forrest87 commented on #80
I spent 3 or more hours trying to figure out how to get this to work, but due to difficulty understanding how android Activities run in conjunction with their GUI provided by XML files, I was never able to complete this task. In the end, we decided that the program we would run would display a log in feature. The code for this Activity has been placed in the Research and Practice folder in our Cod

[2017-04-26 16:34] stt19 commented on #88
This was not completed within Sprint 3 so I am moving it back to the Release Backlog.

[2017-04-26 18:28] nla19 commented on #81
I couldn't get to this task by the deadline.

[2017-04-26 19:28] #73 closed, assigned to zsm8, sylchristian

[2017-04-26 19:28] #96 closed, assigned to sylchristian

[2017-04-26 19:29] #93 closed, assigned to zsm8, sylchristian